*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
}
.try{
    background-image: url(images/Happy_Birthday_Adam_Iwona_Podlasinska.jpg);
    background-size: cover;
    height: 100vh;
    animation: changes 15s ease-in-out  infinite;
}

@keyframes changes {
    0% {
        background-image: url(images/Fantasy_Island_Daniel_Cheong.jpg);
    }
    15%{
        background-image: url(images/Desert_Beauty_Christoph_Fischer.jpg);
    }
    23%{
        background-image: url(images/If_Only_We_Could_Turn_Back_Time_Anna_Kwa.jpg);
        
    }
    35%{
        background-image: url(images/Sheep_in_the_woods_II_James_Mills.jpg);
    }
    50%{
        background-image: url(images/sunset_1663_Junji_Aoyama.jpg);
    }
    67%{
        background-image: url(images/Tree_and_Morning_Mist_Jos_Buurmans.jpg);
    }
    87%{background-image: url(images/Untitled_Jorge_Guadalupe_Lizarraga.jpg);}
    100%{
        background-image: url(images/Secluded_Pete_Rowbottom.jpg);
    }
}


nav{
    height: 70px;
    background-color:  none;
    max-width: 100%;
    display: flex;
    position: fixed;
    
}
.image{
    max-width: 100%;
    width: 100px;
    margin-left: 30px;
    
}
#find{
    margin-left: 150px;
    padding: 10px;
    height: 35px;
    width: 700px;
    margin-top: 20px;
    border: none;
    box-shadow: none;
 
}
ul  {
    display: block;
    margin-left: 100px;
    margin-top: 18px;
    font-size: larger;
    
    
}
ul li {
    display: inline-block;
    
    margin-left: 10px;
    border: 2px solid blue;
    padding: 5px;
    border: none;
    color: #fff;
    
    
    
}
ul li button {
     padding: 5px;
     width: 70px;
    
}
.logo{
    max-width: 100%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 40px;
    display: none;
}

.first{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.second{
    padding-top: 100px;
    color: #fff;
}
.find{
    font-size: 60px;
    font-weight: ;
}
.join{
    display: block;
    padding: 10px;
    font-size: 30px;
    line-height: 40px;
}
.start{
    padding: 20px;
    font-size: 20px;
    background-color:;
    border: none;
    margin-top: 20px;}
    .last{
        display: flex;
        height: 50px;
        background-color: black;
        color: #fff
        ;
    }
    .boy{
        line-height: 50px;
        
    }
    .boy span{
        margin-left: 20px;
    }
    
    .gal{
        line-height: 50px;
        margin-left: 40px;
    }
    .people{
        display: none;
    }
    @media screen and (max-width: 478px){
        .image{
            max-width: 100%;
            width: 70px;
            margin-left: 0px;
            
        }
        
        #find{
            margin-left: 0px;
            padding: 10px;
            height: 35px;
            width: 0px;
            margin-top: 20px;
            display: none;
         
        }
        .logo{
            max-width: 100%;
            width: 30px;
            height: 30px;
            margin-top: 20px;
            margin-left: 150px;
            display: block;
        }
        ul  {
            display: block;
            margin-left: 50px;
            margin-top: 18px;
            font-size: larger;
            
        }
        ul li {
            display: inline-block;
            
            margin-right: 0px;
            border: 2px solid none;
            padding: 5px;
            
            
            
            
        }
        ul li button {
            padding: 5px;
            width: 70px;
            display: none;
            border: none ;
           
       }
    
    


